<br />
<h2>A to Z Solutions</h2>

<div class="row">
  <div class="col-md-9 span-green">
    <pre>
    Request Tracker, commonly abbreviated to RT, is a ticket-tracking system used to coordinate tasks 
    and manage requests among a community of users. 

    RT is used by the community to raise tickets into the Request Tracker system. The tickets then 
    flow into the admins queue who then either accepts or rejects the same. 
    
    RT is an open source (FOSS) and distributed under the GNU General Public License.

    Admin functionality:
    --> When admin logs in, he can see the list of requests and either approve/reject the pending requests.
    --> Admin will not be able to raise requests.
    User credentials:
    Username: admin
    Password: admin

    Other users:
    --> Other users do not have a login functionality.
    --> They can only raise requests which are put into admins queue.  
    </pre>
  </div>
</div>
